* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: sans-serif;
}

body {
  width: 100%;
  background: WhiteSmoke;
}

/***** Blocs Questions *****/
/* container des questions */

.question-container {
  width: 70%;
  margin: 100px auto;
  background: Gainsboro;
  padding: 30px;
  display: flex;
  border: solid Gainsboro 1px;
  border-radius: 65px 20px 65px 20px;
  align-items: center;
  flex-wrap: wrap;
}

/* numéro de la question */
.question-number {
  width: 20%;
  display: flex;
  justify-content: center;
}

.question-number span {
  border: 1px solid WhiteSmoke;
  border-radius: 25% 10%;
  padding: 30px 50px;
  background: WhiteSmoke;
  font-size: 1.5rem;
  color: LightSlateGray;
}

/* container de la question et des réponses */
.txt {
  width: 70%;
}

.question-txt {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.response-choix {
  font-size: 1rem;
  line-height: 2.2rem;
}

li {
  position: relative;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label span {
  background: LightSteelBlue;
}

/* lettre devant le choix de réponse */
label span {
  border: 1px solid Gainsboro;
  padding: 5px 8px;
  border-radius: 55px;
  background: WhiteSmoke;
  cursor: pointer;
  margin-right: 15px;
}

/***** Boutons *****/
.submit-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.reset-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

input[type="submit"] {
  padding: 5px 12px;
  font-size: 1.3em;
  cursor: pointer;
}

/* Style des réponses */

.correctAnswer {
  background: rgb(209, 255, 209);
  color: rgb(0, 122, 0);
  font-weight: bold;
  padding: 8px;
  border-radius: 10px;
}

.wrongAnswer {
  background: rgb(255, 170, 170);
  font-weight: bold;
  padding: 8px;
  border-radius: 10px;
  color: rgb(223, 0, 0);
  text-decoration: line-through;
}

.correctSpan {
  border: 1px solid rgb(0, 122, 0);
  background: rgb(209, 255, 209) !important;
  color: rgb(0, 122, 0);
}

.wrongSpan {
  border: 1px solid rgb(223, 0, 0);
  background: rgb(255, 170, 170) !important;
  color: rgb(223, 0, 0);
}

.faux {
  display: inline-block;
  text-decoration: none !important;
  width: 15%;
  text-align: center;
}

.vrai {
  display: inline-block;
  text-decoration: none !important;
  width: 15%;
  text-align: center;
}

.explication {
  background: WhiteSmoke;
  color: LightSlateGray;
  border: 1px solid WhiteSmoke;
  border-radius: 15px;
  padding: 10px;
  margin-top: 40px;
}

/* Score */

.score {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: darkmagenta;
  font-size: 2rem;
}
